* {
    margin: 0
}

:root{
    background-color: Canvas;
    color: CanvasText;
    color-scheme: dark;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
}

.contenedor1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

img {
    width: 300px;
}

img:hover{
    cursor: pointer;
}

.contenedor2{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 50px;
    justify-content: space-around;
}

.contenedor2 h1{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.imgStick img{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imgStick{
    width: 200px;
    height: 200px;
} 

.verificar{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

#verificar{
    display: flex;
    align-items: center;
}

.ingreso1 input{
    display: flex;
    margin: 0 auto;
}

.ingreso2 input{
    display: flex;
    margin: 0 auto;
}

.ingreso3 input{
    display: flex;
    margin: 0 auto;
}

.separador2{
    margin-bottom: 30px;
}

.contenedor3{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 400px;
    border: solid 2px;
    margin: 0 auto;
}

.contenedor3 h1{
    text-align: center;
    margin: 20px 0px;
}
.contenedor3 div{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

select{
    border-radius: 5px;
    width: 40px;
    height: 25px;
    margin-bottom: 30px;
}

.password span{
    display: flex;
    align-items: center;
    margin-top: 20px;
}



